<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">


    <title>Doug Study App</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>

    <div th:if="${not #lists.isEmpty(journals)}">
        <h2 class="formHeader">Journal List</h2>
        <!--<div>Sort Column: <span th:text="${sortProperties.sortColumn}">text</span></div>-->
        <!--<div>Sort Direction: <span th:text="${sortProperties.sortDirection}">text</span></div>-->
        <form class="form-horizontal" th:object="${sortProperty}" th:action="@{/doSort}" method="post">

            <!--<select th:name="queryEatShit">-->
                <!--<option th:value="id" th:selected="(${sortProperties.sortColumn}=='id')"> id</option>-->
                <!--<option th:value="machine" th:selected="(${sortProperties.sortColumn}=='machine')">machine</option>-->
                <!--<option th:value="project" th:selected="(${sortProperties.sortColumn}=='project')"> project</option>-->
                <!--<option th:value="directory" th:selected="(${sortProperties.sortColumn}=='directory')">directory</option>-->

            <!--</select>-->
            <div class="form-group">
                <label class="col-sm-5 control-label" th:align="left">Sort By:</label>

                <select th:name="sortProperty" th:id="sortProperty">
                    <option th:value="id" th:selected="(${sortProperties.property}=='id')"> id</option>
                    <option th:value="machine" th:selected="(${sortProperties.property}=='machine')">machine</option>
                    <option th:value="project" th:selected="(${sortProperties.property}=='project')"> project</option>
                    <option th:value="directory" th:selected="(${sortProperties.property}=='directory')">directory</option>
                </select>

                <button th:type="submit">Sort</button>
                <script>
                    $('button').click(function( event ) {
                        var sortProperty = $('#sortProperty').val();
                        var sortDirection = $('input[name=sortDirection]:checked').val();
                        var sort = sortProperty + ',' + sortDirection;
                        $('input[name="sort"]').val(sort);
                    });
                </script>

                <div class="shit">
                    <input type="radio" name="sortDirection" value="ASC" th:checked="${sortProperties.ascending}"> Ascending</input>
                    <input type="radio" name="sortDirection" value="DESC" th:checked="${!sortProperties.ascending}"> Descending</input>
                </div>
            </div>

        </form>

        <div class="panel panel-default">
            <nav th:align="center">
                <ul class="pagination" th:with="total = ${journals.totalPages}">
                    <li th:if="${journals.hasPrevious()}">
                        <a th:href="@{/journal/paging(page=${journals.previousPageable().pageNumber},size=${journals.size})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, total - 1)}"><a
                            th:href="@{/journal/paging(page=${page},size=${journals.size})}"
                            th:text="${page + 1}">1</a>
                    </li>
                    <li th:if="${journals.hasNext()}">
                        <a th:href="@{/journal/paging(page=${journals.nextPageable().pageNumber},size=${journals.size})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="panel-body">
                <table class="table table-bordered" bgcolor="#f0f8ff">
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-1">Machine</th>
                        <th class="col-sm-2">Project</th>
                        <th class="col-sm-4">Directory</th>
                        <th class="col-sm-5">Comments</th>
                        <th class="col-sm-1">View</th>
                        <th class="col-sm-1">Edit</th>
                        <th class="col-sm-1">Delete</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" th:name="machineQuery"></input></td>
                        <td><input type="text" th:name="machineQuery"></input></td>
                        <td><input type="text" th:name="machineQuery"></input></td>
                        <td><input type="text" th:name="machineQuery"></input></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr th:each="journal : ${journals}">
                        <td th:text="${journal.id}"><a href="/journals/${journal.id}">Id</a></td>
                        <td th:text="${journal.machine}">machine</td>
                        <td th:text="${journal.project}">project</td>
                        <td th:text="${journal.directory}">directory</td>
                        <td th:text="${journal.comments}">comments</td>
                        <td><a th:href="${'/journal/' + journal.id}">View</a></td>
                        <td><a th:href="${'/journal/edit/' + journal.id}">Edit</a></td>
                        <td><a th:href="${'/journal/delete/' + journal.id}">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>